{% with user = user %}
	{% include 'components/header.html' %}
{% endwith %}
	<a href="{{url_for('createItem')}}">
		<button type="button" class="btn btn-primary">Create Item</button>
	</a>
	<div class='row'>
		<div class='col-xs-6 col-md-4'>
			{% with categories = categories%}
				{% include 'components/categoryComponent.html' %}
			{% endwith %}
		</div>
		<div class='col-xs-6 col-md-4'>
			{% with items = items %}
				{% include 'components/itemComponent.html' %}
			{% endwith %}
		</div>
	</div>
{% include 'components/footer.html' %}
